<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color:#3b5998;
  } 
    h1 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 80px;
  font-style: normal;
  font-variant: normal;
  font-weight: 5000;
  line-height: 100px;
  color:white;
}
 
.button{
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
</style>
</head>
<body>
<center>
<h1>Welcome to FightBook!</h1>
<a href="http://localhost:3000/register" class="button"><b>Sign up</font></b></a>
<a href="http://localhost:3000/login" class="button"><b>Login</b></a> </div>
</center>



<html>
<body>